body {
 font-family: "lato", sans-serif;
}

.ms_header-top {
 height: 50px;
 background-color: black;
}

.logo-sony {
 height: 30px;
 width: 100px;
}

.ms_round {
 border-radius: 50px;
 padding: 5px 20px;
}

.box {
 height: 500px;
 background-color: lightblue;
}

.jumbo {
 height: 650px;
}

.bg_jumbo {
 background-image: url(../img/jumbo-bg.png);
 object-fit: contain;
 background-position-x: center;
 background-position-y: top;
}

.btn_jumbo {
 background-color: rgb(205, 61, 16);
 border: none;
 border-radius: 20px;
 padding: 10px 15px;
}

.ms_width-text {
 width: 35%;
}

.jumbo-bottom img {
 border-radius: 25px;
}
