body {
 font-family: "lato", sans-serif;
}

.ms_header-top {
 height: 50px;
 background-color: black;
}

.logo-sony {
 height: 30px;
 width: 100px;
}

.ms_round {
 border-radius: 50px;
 padding: 5px 20px;
}

.jumbo {
 height: 550px;
}

.bg_jumbo {
 background-image: url(../img/jumbo-bg.png);
 object-fit: contain;
 background-position-x: center;
 background-position-y: top;
}

.btn_jumbo {
 background-color: rgb(205, 61, 16);
 border: none;
 border-radius: 20px;
 padding: 10px 15px;
}

.ms_width-text {
 width: 35%;
}

.jumbo-bottom img {
 border-radius: 25px;
}

.ms_color-blue {
 background-color: #2c64e6;
}

.ms_play-img {
 width: 50px;
 height: 100%;
}

.ms_sfondo {
 height: 600px;
}

.ms_bg_sfondo {
 background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
 background-size: cover;
 background-position: center;
}

.ms_sfondo-grey {
 background-color: #1f1f1f;
}

.ms_img_border img {
 border-radius: 20px;
}

.ms_bcg-color {
 height: 500px;
 background-color: grey;
}

.ms_bcg-color-2 {
 background-color: #161c3b;
}

.btn_jumbo-2 {
 background-color: #d9dadc;
 border: none;
 border-radius: 20px;
 padding: 10px 15px;
}

.ms_w-img {
 width: 150px;
}
